In [1]:
# Import BeautifulSoup
from bs4 import BeautifulSoup

In [2]:
# Import Splinter and set the chromedriver path 
from splinter import Browser
executable_path = {"executable_path": "C:\Drivers\Chromedriver_win32\chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
import pandas as pd
import requests

In [4]:
# Visit the following URL
url_news = "https://redplanetscience.com/"
browser.visit(url_news)

In [5]:
# HTML Object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
# Scrape the latest News Title and Paragraph text
news_title = soup.find_all('div', class_ = 'content_title')[0].get_text()

news_paragraph = soup.find_all('div', class_ = 'article_teaser_body')[0].get_text()

news_date = soup.find_all('div', class_ = 'list_date')[0].get_text()

print(news_date)
print(news_title)
print('------------------------------------------')
print(news_paragraph)

September 6, 2021
NASA's Curiosity Rover Finds an Ancient Oasis on Mars
------------------------------------------
New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate.

# JPL Mars Space Images - Featured Image

In [7]:
from bs4 import BeautifulSoup

In [8]:
# Import splinter and set the chromedriver path
from splinter import Browser
executable_path = {"executable_path": "C:\Drivers\Chromedriver_win32\chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [9]:
#Visit the url
url_spaceimage = "https://spaceimages-mars.com/"
browser.visit(url_spaceimage)

In [10]:
# xpath selector to grab for featured image
xpath = '/html/body/div[1]/img'

In [11]:
# Using splinter to click the featured image
# to get the full resolution image
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [13]:
# Scrape the browser into soup and use soup to find the full resolution image
# Save the image to a varibale called 'image_url'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image_url = soup.find("img", class_="headerimage")["src"]
featured_image_url = url_spaceimage + image_url
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [15]:
# using the requests library to download and save the image from the 'image_url'
import requests

featured_image_url = url_spaceimage + image_url
response = requests.get(featured_image_url, stream=True)
file = open("Image.png", "wb")
file.write(response.content)
file.close()

In [16]:
# Using shutil to save image
import requests
import shutil
response = requests.get(featured_image_url, stream=True)
with open('/img.png', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)

In [ ]:
# Display the image with IPytho.display
#from IPython.display import image
#import requests

#img = Image.open(requests.get(featured_image_url, stream=True).raw)
#image.save('img1.jpg')

In [18]:
# Display the image with IPytho.display
from IPython.display import Image
Image(url='img.jpg')

# Mars Facts

In [19]:
import pandas as pd

In [20]:
url_mars = 'https://galaxyfacts-mars.com'

In [21]:
# Scraping tables with pandas
table = pd.read_html(url_mars)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [22]:
# Slicing dataframes using normal indexing
table_df = table[0]
table_df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [23]:
# Slicing dataframes using normal indexing
table2_df = table[1]
table2_df.head(10)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
# Renaming table columns and assigning to a variable
mars_facts = table2_df.rename(columns={0:"Mars Profile", 1:"Metric"})
mars_facts

           Mars Profile                         Metric
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
# generating html table from DataFrames
html_table = mars_facts.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Profile</th>\n      <th>Metric</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [26]:
# removing newlines to clean up table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars Profile</th>      <th>Metric</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [27]:
# save table to an html file
mars_facts.to_html('table.html')

# Mars Hemispheres

In [28]:
# Import BeautifulSoup
from bs4 import BeautifulSoup

In [29]:
# Import Splinter and set the chromedriver path 
from splinter import Browser
executable_path = {"executable_path": "C:\Drivers\Chromedriver_win32\chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [30]:
url_hemisphere = 'https://marshemispheres.com/'
browser.visit(url_hemisphere)

In [31]:
# HTML Object
html_hemisphere = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html_hemisphere, "html.parser")

In [32]:
# Retrieve all elements that contain image url to full resolution image
hemispheres = soup.find_all("div", class_="item")

# Create empty list
hemispheres_info = []

# assign url for loop

hemispheres_url = "https://marshemispheres.com/"

#iterate through each hemisphere informatiom 
for info in hemispheres:
    title = info.find("h3").text
    hemispheres_img = info.find("a", class_="itemLink product-item")["href"]
    
    # Visit the link that contains the full image website
    browser.visit(hemispheres_url + hemispheres_img)
    
    # HTML object
    image_html = browser.html
    web_info = BeautifulSoup(image_html, "html.parser")
    
    # Create full image url
    img_url = hemispheres_url + web_info.find("img", class_="wide-image")["src"]
    
    dictionary = {"title" : title, "img_url" : img_url}
    
    hemispheres_info.append(dictionary)
    
    print(hemispheres_info)
    
    
    
    #h3 =info.find('h3')
    #link = h3.find('a')
    #href = link['href']
    #title = link['title']
    #print('----------------')
    #print(title)
    #print('https://marshemispheres.com/' + href)
    
    # Click the 'Next' button on each page
    #try:
        #browser.links.find_by-partial_text('next').click()
        
    #except:
        #print("Scraping Complete")

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}]
[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}]
[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}]
[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [33]:
# Preferred output

# Retrieve all elements that contain image url to full resolution image
hemispheres = soup.find_all("div", class_="item")

# Create empty list
hemispheres_info = []

# assign url for loop

hemispheres_url = "https://marshemispheres.com/"

#iterate through each hemisphere informatiom 
for info in hemispheres:
    title = info.find("h3").text
    hemispheres_img = info.find("a", class_="itemLink product-item")["href"]
    
    # Visit the link that contains the full image website
    browser.visit(hemispheres_url + hemispheres_img)
    
    # HTML object
    image_html = browser.html
    web_info = BeautifulSoup(image_html, "html.parser")
    
    # Create full image url
    img_url = hemispheres_url + web_info.find("img", class_="wide-image")["src"]
    
    hemispheres_info.append({"title" : title, "img_url" : img_url})
    print("")
    print(title)
    print(img_url)
    print("------------------------------------")

Cerberus Hemisphere Enhanced
https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
------------------------------------

Schiaparelli Hemisphere Enhanced
https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
------------------------------------

Syrtis Major Hemisphere Enhanced
https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
------------------------------------

Valles Marineris Hemisphere Enhanced
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
------------------------------------

In [34]:
browser.quit()